<form id="productForm" [formGroup]="fg" (ngSubmit)="fg.valid && finish()">
  <div fxLayout="row">
    <h2 fxFlex mat-dialog-title>Neue Rolle</h2>
    <button mat-icon-button type="button" (click)="dialogRef.close()" tabindex="-1">
      <mat-icon svgIcon="material:outline-close"></mat-icon>
    </button>
  </div>
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="fg.controls['name']?.errors?.required">Bitte gib einen Namen ein</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea rows="5" matInput placeholder="Beschreibung" formControlName="description"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end end">
    <button mat-button type="button" (click)="dialogRef.close()" tabindex="-1">Abbrechen</button>
    <button mat-button color="primary" type="submit">
      <mat-icon svgIcon="material:outline-done_all"></mat-icon>&nbsp;Fertig
    </button>
  </mat-dialog-actions>
</form>
