service cloud.firestore {
  match /databases/{database}/documents {
  	match /users {
      allow read: if false;
      allow create;   
      
      match /{email} {
     		allow read: if isSignedIn() && isOwner(email);
     		allow write if isSignedIn() && isOwner(email);
    	}
    }    
    
    function isSignedIn() {
  		return request.auth != null;
		}

    function isOwner(email) {
    	return request.auth.token.email == email;
    }
  }
}