<mat-card fxFlex>
  <mat-card-title>
    <span fxFlex>{{ role.name }}</span>
    <button knnl-no-routing mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="material:outline-more_vert"></mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>{{ role.description }}</mat-card-subtitle>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip *ngFor="let p of role.permissions | keys">{{ p | permission }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>

<mat-menu #menu>
  <button mat-menu-item>
    <mat-icon svgIcon="material:outline-edit"></mat-icon>Bearbeiten
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="material:outline-delete"></mat-icon>Löschen
  </button>
</mat-menu>
