<mat-table *ngIf="dataSource?.data" [dataSource]="dataSource" matSort matSortDisableClear>

  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ng-container>Vorname</ng-container>
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      <p mat-line>{{ data.firstname }}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ng-container>Nachname</ng-container>
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      <p mat-line>{{ data.lastname }}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="roles">
    <mat-header-cell *matHeaderCellDef>
      <ng-container>Rollen</ng-container>
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      <mat-chip-list selectable="false">
        <mat-chip color="primary" color="primary" selected="true" *ngFor="let role of data.roles">{{ role }}</mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ng-container>E-Mail</ng-container>
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      <p mat-line>{{ data.email }}</p>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row [class.clickable]="click.observers.length" (click)="click.emit(data)" *matRowDef="let data; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="dataSource.data?.length" [pageSize]="15" [pageSizeOptions]="[5, 15, 25, 50]">
</mat-paginator>
