<mat-card *ngIf="user">
  <mat-card-content>
    <mat-card-title>{{ user.firstname }} {{ user.lastname }}</mat-card-title>
    <dl>
      <dt>Erstellt am</dt>
      <dd>{{ user.created | date: 'short' }} Uhr</dd>
      <dt>E-Mail</dt>
      <dd>{{ user.email }}</dd>
      <dt>Geburtstag</dt>
      <dd>{{ user.dob | date: 'mediumDate' || '- - -' }}</dd>
      <dt>Lieblingsverein</dt>
      <dd>{{ user.favoriteTeams || '- - -' }}</dd>
      <dt>Hobbies</dt>
      <dd>{{ user.interests || '- - -' }}</dd>
      <dt>Handynummer</dt>
      <dd>{{ user.mobile || '- - -' }}</dd>
    </dl>
    <ng-container *ngIf="claims$ | async as claims">
      <mat-slide-toggle [disabled]="!claims?.users_set_roles" *ngFor="let role of roles" [checked]="user.roles && user.roles[role.$key]"
        (change)="onRoleCheck(role, $event.checked)">{{ role.name }}</mat-slide-toggle>
    </ng-container>
  </mat-card-content>
</mat-card>
