<mat-card fxFlex fxFlex.gt-xs="450px">
  <mat-card-title>Konto erstellen</mat-card-title>
  <mat-card-content fxLayout="column">
    <mat-vertical-stepper [linear]="true" #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon svgIcon="material:outline-edit"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon svgIcon="material:outline-done_all"></mat-icon>
      </ng-template>
      <mat-step [stepControl]="accountFg">
        <ng-template matStepLabel>Konto erstellen</ng-template>
        <form fxLayout="column" novalidate [formGroup]="accountFg" (ngSubmit)="stepper.next()">
          <mat-form-field>
            <input matInput type="email" placeholder="E-Mail" formControlName="email" autocomplete="email" required>
            <mat-error *ngIf="accountFg.controls['email']?.errors?.required || accountFg.controls['email']?.errors?.email">Bitte geben Sie eine gültige E-Mail ein</mat-error>
          </mat-form-field>
          <mat-form-field formGroupName="passwords">
            <input matInput type="password" placeholder="Kennwort" formControlName="password" required>
            <mat-error *ngIf="accountFg.controls['passwords'].controls['password']?.errors?.required || accountFg.controls['passwords'].controls['password']?.errors?.minlength">Das Kennwort muss mindestens 6 Zeichen lang sein</mat-error>
          </mat-form-field>
          <mat-form-field formGroupName="passwords">
            <input matInput type="password" placeholder="Kennwort wiederholen" formControlName="repeat" required>
            <mat-error *ngIf="accountFg.controls['passwords']?.controls['repeat']?.errors?.mismatch">Die Kennwörter sind nicht identisch</mat-error>
          </mat-form-field>
          <button style="margin-top: 8px;" fxFlexAlign="start" color="primary" mat-raised-button type="submit">Weiter</button>
        </form>
      </mat-step>
      <mat-step [stepControl]="personalFg">
        <ng-template matStepLabel>Persönliche Informationen</ng-template>
        <form fxLayout="column" novalidate [formGroup]="personalFg" (ngSubmit)="stepper.next()">
          <mat-form-field>
            <input matInput type="text" placeholder="Vorname" formControlName="firstname" required>
            <mat-error *ngIf="personalFg.controls['firstname']?.errors?.required">Bitte geben Sie einen Vornamen ein</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Nachname" formControlName="lastname" required>
            <mat-error *ngIf="personalFg.controls['lastname']?.errors?.required">Bitte geben Sie einen Nachnamen ein</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Geburtstag">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Lieblingsverein" formControlName="favoriteTeams">
          </mat-form-field>
          <mat-form-field>
            <textarea rows="3" matInput placeholder="Hobbies" formControlName="interests"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Handynummer" formControlName="mobile">
          </mat-form-field>
          <button style="margin-top: 8px;" fxFlexAlign="start" color="primary" mat-raised-button type="submit">Weiter</button>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Datenschutzeinstellungen</ng-template>
        <form fxLayout="column" novalidate [formGroup]="dataProtFg" (ngSubmit)="finish()">
          <p style="margin-top: 0">Um dich über aktuelle Geschehnisse auf dem Laufenden halten zu können, möchten wir dich gerne per E-Mail kontaktieren.<br />
            Bei welchen Ereignissen dürfen wir dir E-Mails senden?
          </p>
          <mat-checkbox formControlName="news">Neuigkeiten</mat-checkbox>
          <mat-checkbox formControlName="newPost">Neue Beiträge im Forum</mat-checkbox>
          <mat-checkbox formControlName="reply">Antworten im Forum</mat-checkbox>
          <mat-checkbox formControlName="results">Neue Ergebnisse bei Kicker</mat-checkbox>
          <p>Wir haben eine WhatsApp-Gruppe und schreiben unseren Mitgliedern zu aktuellen Anlässen (bspw. Sommerfeier, FunCup) direkt. Bist du damit einverstanden?</p>
          <mat-checkbox formControlName="whatsApp">Per WhatsApp kontaktieren</mat-checkbox>
          <mat-checkbox formControlName="whatsAppGroup">WhatsApp-Gruppe hinzufügen</mat-checkbox>
          <button style="margin-top: 8px;" fxFlexAlign="start" color="primary" mat-raised-button type="submit">
            <mat-icon svgIcon="material:outline-done_all"></mat-icon> Registrierung abschließen
          </button>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
