@import '~@angular/material/theming';
@import './knnl-theme';
@import 'app/shared/layout/components/sidenav/sidenav.theme';

html,
body {
  color: #333333;
  height: 100%;
  margin: 0;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

@mixin custom-theme($theme) {
  @include knnl-sidenav-theme($theme);
}

@include angular-material-theme($knnl-light-theme);
@include custom-theme($knnl-light-theme);

/* Autofill */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

/* Cards */
.mat-card-title {
  font-weight: 300;
}

/* Button */
.mat-button {
  font-weight: 400;
  text-transform: uppercase;
}

a.mat-fab,
button.mat-fab {
    position: fixed;
    bottom: 62px;
    right: 24px;
    z-index: 2;
    @media (max-width: 600px) {
        right: 16px;
    }
}
